@import url('reset.css');
@import url('global.css');
@import url('components/_pills.css');
@import url('components/_link-button.css');
@import url('components/_gallery.css');

/* pagina toda */
.s-wrapper{
    display: flex;
    height: 100vh;
    flex-flow: row nowrap;
}

/* coluna da esquerda ou menu */
.s-wrapper .s-left-columm{
    width: 100px;
    height: 100%;   
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;

}

/* coluna da direita ou copo da pagina */
.s-wrapper .s-main-contenet{
    height: 100%;
    width: 100%;
    background-color: gray;    
    padding-left: 130px; /* definindo distancia da coluna */
}

/* navegação menu */
.navigator {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative;
}
/* margem */
.navigator ul li {
    margin: 60px 0;
}

/* margem  0 para primeiro item*/
.navigator ul li:first-child {
    margin-top: 0;
}

/* margem  0 para ultimo item*/
.navigator ul li:last-child {
    margin-bottom: 0;
}

/* menu configurando as bolinhas*/
.navigator ul li a{
    color: white;
    border:  solid 2px white;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    }

/* colocando uma linha no menu */
.navigator::before{
    content: '';
    position: absolute;
    top: 0;
    width: 2px;
    height: 100%;
    background-color: white;
    z-index: 0;

}

/* eixo z e ordem 0 primeiro 1 sobrepom*/
.navigator ul {
    z-index: 1;
}

/* quando passar mouse muda cor de fundo*/
.navigator ul li a:hover, 
.navigator ul li a.active{
 color: var(--primary-color);
 background-color: white;
}


.navigator .navigator__icon {
    position: absolute;
    top: -40px;
   

}

/* conteudo cental*/
.s-wrapper .s-main-contant_top{
 height: 80vh;
 display: flex;
 flex-direction: column;
 justify-content: flex-start; /* quando add nova div será alidado de cima para baixo*/
}

.s-wrapper .s-main-contant_bottom{
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* quando add nova div será alidado de baixo para cima*/

}


.s-wrapper .s-main-contenet .s-logo img {
 margin-top: 30px;
 margin-left: 0;
 margin-bottom: 30px;   
}

/* caixa de descrição */
.s-wrapper .s-main-contant_top .s-description{
    background-color: rgba(0, 0, 0,.7); /*  transparencia de 70% */
    max-width: 50%;
    padding: 20px;
    border-radius: 10px;
}

.s-wrapper .s-main-contant_top .s-description .s-description__text p {
    color: white;
    line-height: 170%;
}

.s-wrapper .s-main-contant_top .s-description .pills{
    margin-bottom: 20px;
}

.s-wrapper .s-main-contenet .s-links{
    padding: 20px;
    padding-left: 0;
}
.s-wrapper .s-main-contenet .s-links ul{
    display: flex;
    flex-direction: row;
}